.faculties__main{
    padding: 80px 0px;
    height: 83vh;
    display: flex;
    align-items: center;
    justify-content: center;
.facultie__card{
    background: var(--button_in_main_background);
    width: 100%;
    height: 90%;
    border-radius: 10px;
    padding: 40px 10px;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    h2{
        font-size: 22px;
        text-align: center;
    }
    font-weight: bold;
    color: #fff;
transition: all 0.5s;
    &:hover{
        transform: translateY(-5px);
        transition: transform 0.6s;
    }
}
.still_unavailable{
    background-color: #07a88869;
       cursor:default;
    position: relative;
    &::before{
        content: "unavailable";
        background-color: red;
        padding: 5px 10px;
        position: absolute;
        top: -5px;
        font-size: 15px;
        right: -10px;
        border-radius: 20px;
    }
}

}