.main_login_sinup_page{
    display: flex;
    align-items: center;
    justify-content: center;
background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);

    height: 100vh;
.section_login_sinup{

    .form{
        width: 100%;
        height: 100% ;
        // border:1px solid #000;
        border-radius: 10px;
        padding: 40px 10px;
   .input_field{
    padding: 10px 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #ffffff52;
    color: #fff;
    font-weight: bold;
   }
   .input_field::placeholder{
    color: #ffffff9f;
   }
    }
    .head_of_form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .select_state{
        display: flex;
        gap: 30px;
        .Sign_in_button, .SignUp_button{
            padding: 10px 30px;
            font-size: 20px;
            border: none;
            border-radius: 20px;
background: #0f2027;
color: #fff;
font-weight: bold;

        }
     
    }
       .headrer_form{
            color: #ffffffff;
            font-weight: bold;
        }
        .submit_button{
          background: #0f2027;
color: #fff;
border: none;
border-radius: 20px;
padding:10px 20px;
font-size: 20px;
font-weight: bold;
        }

      
}
  .Text_Under_image{
            color: #ffffff7a;
            font-size: 18px;
            text-align: center;
        }
        .social_label{
            background-color: #ffffff36;
            padding: 7px;
            border-radius: 20px;
            cursor: pointer;
        }
    }
