.about-doctors {
  padding: 80px 0px !important;
height: 83vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
   width: 90%;
    margin: auto !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  h2 {
    font-size: 36px;
    margin-bottom: 10px !important;
    color: #fff;
  }

  .subtitle {
    max-width: 600px;
    margin: 0 auto 50px !important;
    color: #dbdadad8;
    font-size: 16px;
  }

  .doctors-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
  }

  .doctor-card {
    padding: 30px 20px;
    border-radius: 16px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-8px);
    }

    img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 15px;
    }

    h3 {
      margin: 10px 0 5px !important;
      font-size: 18px;
      color: #ffff;
    }

    span {
      display: block;
      font-size: 14px;
      color: var(--button_in_main_background);
      margin-bottom: 10px !important;
      font-weight: 700;
    }

    p {
      font-size: 14px;
      line-height: 1.6;
      color: #fff;
    }
  }
}
}